@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  background-color: black;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
  font-family: "Bebas Neue";
  height: 1vh;
  text-decoration:none;
  color: white;
  font-size: 20px;
   }

   a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }

.header {
  display: flex;
}

h1 {
  font-family: "Bebas Neue";
  color: white;
  font-size: 8vh;
  padding: 0 10px;
  margin-left: 40px;
}

.images-section {
  display: flex;
	flex-direction: column;
  flex-wrap: nowrap; 
	justify-content: flex-end;
	align-items: flex-end;
	align-content: flex-end;
  position:fixed;
  margin-left: 78vw; 
}

hr {
  width: 30vw;
  margin-left: 50px;
  margin-top: -5px;
}

h2 {
  color: rgba(255, 0, 0, 0.548);
  font-family: "Bebas Neue";
  font-size: 8vh;
}

.first-section {
  margin-left: 50px;
}

#paragraph-sectionOne {
  margin-top: -20px;
  color: white;
  font-family: "Bebas Neue";
  font-size: 40px;
  line-height: 60px;
}

.paragraph2-sectionOne {
  color: rgba(255, 255, 255, 0.362);
  font-family: "Bebas Neue";
  font-size: 4vh;
  line-height: 50px;
}

.peggy-image {
  height: 28vh;
  width: 20vw;
  border-radius: 50%;
  margin-top: 2vh;
  /* position: fixed; */
}
