<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/css/about.css" />
  </head>
  <body>
    <nav>
        <ul class="nav-list">
            <li> <a href="/">Home</a></li>
            <li> <a href="/works">Works</a></li>
            <li> <a href="/photo">Photo Galery</a></li>
            </ul>
    </nav>
    <div class="header">
      <h1>Peggy Gou</h1>
      <section class="images-section">
      <img class="peggy-image" src="/images/voguepic.jpeg" alt="peggy-Gou-portrait"/>
      <img class="peggy-image"src="/images/peggy2.webp" alt="">
      <img class="peggy-image" src="/images/peggybw.jpeg" alt="">
      </section>
    </div>
    <hr/>
    <section class="first-section">
      <h2>Biography</h2>
      <p id="paragraph-sectionOne">
        Peggy Gou is a Berlin based Korean artist. Through a regular stream of
        <br />
        high quality mixes she has begun to turn heads in underground circles.
        <br />
        Sitting somewhere between Detroit, London and Berlin in sound, her DJ
        <br />
        sets are a assured, kinetic combination..
      </p>

      <p class="paragraph2-sectionOne">
        Through a regular stream of
        high quality mixes she has begun to turn heads in underground <br> circles.
        Sitting somewhere between Detroit, London and Berlin in sound, her DJ
        sets are a assured, <br> kinetic  combination of dark, pulsing house 
       and techno, broken beats and abstract compositions.
      </p>

      <p class="paragraph2-sectionOne">
        Regular studio sessions have been fertile and her first release, a
        double EP ‘September War’ will <br> appear on Matt Radio Slave Edwards
        dominant Rekids imprint in early 2016. Peggy also has several <br> highly
        conceptual tracks lined up for a host of other labels.<br />
      </p>

      <p class="paragraph2-sectionOne">
        Peggy is already showing signs of becoming a highly unique and
         singular artist as she embarks on <br> her journey into music.
      </p>
    </section>
  </body>
</html>
