<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Peggy gou</title>
    <link rel="stylesheet" href="/public/css/styles.css" />
  </head>
  <body>
    <nav>
      <ul class="nav-list">
        <li><a href="/about" target="_blank"> About </a></li>
        <li><a href="/works" target="_blank">Works </a></li>
        <li><a href="/photo" target="_blank">Photo Galery</a></li>
      </ul>
    </nav>

    <div class="peggy-background">
      <h1 class="title">Peggy Gou</h1>
      <p class="paragraph">DJ & Record Producer</p>
    </div>
  </body>
</html>
