<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="/public/css/photo.css">
</head>
<body>
    <nav>
        <ul class="nav-list">
            <li> <a href="/view/home.html"> HOME </a></li>
            <li> <a href="/view/works.html">Works </a></li>
            <li><a href="/view//about.html">About</a></li>

        </ul>
    </nav>
    <h1>Peggy Gou</h1>
    <div class="container">
        <div class="col-grid">
            <img src="/public/images/image1.webp" >
            <img src="/public/images/image2.jpeg" >
            <img src="/public/images/image3.jpeg">
            <img src="/public/images/image4.png">
            <img src="/public/images/image5.jpeg">
        </div>
        <div class="col-grid">
            <img src="/public/images/image6.jpeg" >
            <img src="/public/images/image7.jpeg" >
            <img src="/public/images/image8.jpeg">
            <img src="/public/images/image9.jpeg">
            <img src="/public/images/image10.jpeg">
        </div>
        <div class="col-grid">
            <img src="/public/images/image11.jpeg" >
            <img src="/public/images/image12.webp" >
            <img src="/public/images/image13.jpeg">
            <img src="/public/images/image14.jpeg">
            <!-- <img src="/public/images/image15.webp"> -->
        </div>
        <div class="col-grid">
            <img src="/public/images/image16.jpeg" >
            <img src="/public/images/image17.jpeg" >
            <img src="/public/images/image18.jpeg">
            <img src="/public/images/image19.jpeg">
            <img src="/public/images/image20.jpeg">
        </div>
    </div>
</body>
</html>