<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="/css/works.css">
</head>
<body>
    <nav>
        <ul class="nav-list">
            <li> <a href="/">Home</a></li>
            <li> <a href="/about">ABOUT</a></li>
            <li> <a href="/photo">Photo Galery</a></li>
            </ul>
    </nav>
   <section>
    <h1> EP'S
    </h1>
   </section>
   <section class="container">
    <div class="albuns">
        <img src="/public/images/album1.jpeg" alt="">
        <img src="/public/images/album2.jpeg" alt="">
        <img src="/public/images/album3.jpeg" alt="">
        <img src="/public/images/album4.jpeg" alt="">
    </div> 
   </section>
   <section>
    <div class="legenda">
        <p> <a href="https://www.google.com/search?q=now+us+peggy+gou&rlz=1C5CHFA_enPT835PT835&oq=now+us+peggy+gou&aqs=chrome.0.69i59j0i22i30.2166j0j9&sourceid=chrome&ie=UTF-8#fpstate=ive&vld=cid:702114a1,vid:r_wwmmo6UGY">Now Us</a> </p>
        <p> <a href ="https://www.youtube.com/watch?v=SlbVgjFvE3I&ab_channel=NinjaTune">Bleed </a></p>
        <p><a href="https://www.google.com/search?q=now+us+peggy+gou&rlz=1C5CHFA_enPT835PT835&oq=now+us+peggy+gou&aqs=chrome..69i57j0i22i30.5860j0j4&sourceid=chrome&ie=UTF-8#fpstate=ive&vld=cid:f60a2396,vid:d1gmuWdZzkw"></a> i go</p>
        <p> <a href="https://www.youtube.com/watch?v=rvRheiofcCY&ab_channel=Technicolour">Moment</a></p>
</div>
   </section>

   <h2>Click in the ep's name to listen</h2>
</body>
</html>